@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}

* {
  font-family: "Roboto";
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  margin: 0;
  padding: 0;
}

header {
  padding-left: 15%;
  padding-right: 15%;
}



ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

li {
  display: block;
  padding: auto;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer {
  margin-top: auto;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
}

.button {
  padding: 5px 25px;
  border-radius: 10px;
  display: block;
}

.border-solid {
  border: 1px solid #FFFFFF;
}

header {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  ul {
    flex-direction: column;
  }

  nav {
    padding-left: 0px;
    padding-right: 0px;

  }

  header,
  section,
  section.container,
  aside.container,
  blockquote.container {
    padding-left: 5%;
    padding-right: 5%;

  }

  .menu-icon {
    display: inline-block;
  }

  .nav-bar {
    flex-direction: column;
  }

  nav {
    display: none;
  }

  .flex {
    flex-direction: column;
  }

  section.quote-text {
    font-size: 20px;
  }
}

nav {
  height: 50px;

}

@media only screen and (min-width: 800px) {
  .menu-icon {
    display: none;
  }
}

.menu-icon {
  margin: 14px 16px;
  margin-left: auto;
  margin-right: 0;

}

.nav-toggle {
  display: none;
}

.nav-toggle:checked~nav {
  overflow: visible;
  height: auto;
  display: block;

}

.nav-bar {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;

}

.border-white {
  border-style: solid;
  border-color: #f9faf8;
}

.rounded {
  border-radius: 15px;
}

.logo {
  display: flex;
  align-items: flex-start;

}

.logo img {
  margin-top: 6px;
  width: 40px;
  height: 40px;
}

.main-image {
  width: 100%;
  height: auto;
  min-width: 350px;
}

.container {
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.flex {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
}

.flex-1 {
  flex: 1;
}

.img-card {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #3982f6;
  border-radius: 15px;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.dark-background {
  background-color: #1f2937;
}

.dark-text {
  color: #1f2937;
}

.blue-background {
  background-color: #3982f6;
}

.blue-text {
  color: background-color;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.scondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.inf-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.quote-background {
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 2vw;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

/* CSS Sign_up.html */
/* Add padding*/

.conteinerSignUp {
  padding: 16px;
  display: block;
}

/* Full-width input fields */
.email,
.psw,
.psw-repeat {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */

.registerbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #04aa6d;
  color: white;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  width: 15%;
  margin-left: 40%;
  margin-bottom: 15px;
  font-size: 18px;
  cursor: pointer;
}

/* text */
.signin {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding-top: 10px;
}

.signin p {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}

.signin-text {
  font-size: 18px;
  margin-bottom: 10px;
}

/*Players Page*/
.main-h1-player {
  margin-top: 80px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-main-player {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.container-player {
  width: 75%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;

}

.container-img {
  text-align: center;
}

.container-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 300px;
}

.circle {
  width: 35px;
  height: 35px;
  background-color: #3982f6;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  margin-right: 10px;
}

.h2-number-circle {
  margin: 0;
  font-size: 18px;
  color: #1f2937;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
}

.h3-img {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}


/* Marcos - Matches =====================*/
.cards-container {
  display: flex;
  flex-flow: row wrap;
}

.matches-card {
  /* border: solid darkgrey 0.5px; */
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 30%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s;
}

.matches-card:hover {
  transform: scale(1.03);
}

.matches-time {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {

  .matches-card {
    width: 100%;
    height: auto;
  }

  .containerTables {
    display: grid;
  }

}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  background-color: #96D4D4;
}

.conteinerTeams {
  padding: 70px;
}

.tablecss {
  width: 100%;
  height: auto;
  margin: 10px;
}


/* more-news */
.container-main-more-news {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.container-more-news {
  width: 75%;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.container-more-news-img {
  width: 30%;
  min-width: 300px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.more-news-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 12px;
}

.container-more-news-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}